body {
    background-color: rgb(226, 208, 208);
    /*
    margin: 0;
    padding: 0;
    */
}

.bebas-neue {font-size: 8em;
    font-family: "Bebas Neue", sans-serif;
    /*font-weight: 400;*/
    font-style: normal;
}

.bungee-tint {
    font-family: "Bungee Tint", sans-serif;
    /*font-weight: 400;*/
    font-style: normal;
}

h1 {
    color: #917cd7;
}